.composition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 100px;
  background: url("../../images/Vector.png"), linear-gradient(180deg, #F3FBF8, white);
}

@media (max-width: 1280px) {
  .composition {
    padding: 130px 80px;
  }
}

@media (max-width: 1024px) {
  .composition {
    padding: 100px 60px;
  }
}

@media (max-width: 768px) {
  .composition {
    padding: 80px 20px;
  }
}

@media (max-width: 320px) {
  .composition {
    padding: 50px 10px;
  }
}