.composition__check {
  position: absolute;
  top: 25px;
  left: -95px;
  width: 370px;
  height: 276px;
}

@media (max-width: 1280px) {
  .composition__check {
    width: 340px;
    height: 254px;
    top: 35px;
    left: -90px
  }
}

@media (max-width: 1024px) {
  .composition__check {
    width: 260px;
    height: 195px;
    left: -64px;
    top: 35px;
  }
}

@media (max-width: 768px) {
  .composition__check {
    width: 160px;
    height: 120px;
    left: -35px;
    top: 25px;
  }
}

@media (max-width: 500px) {
  .composition__check {
    width: 80px;
    height: 60px;
    left: 0px;
    top: 15px;
  }
}