.about__container {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

@media (max-width: 1280px) {
  .about__container {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .about__container {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .about__container {
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {
  .about__container {
    margin-bottom: 10px;
  }
}