.promo {
  background: #F3FBF8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 0 100px;
  background-size: 100%;
}

@media (max-width: 1280px) {
  .promo {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1024px) {
  .promo {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .promo {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 320px) {
  .promo {
    padding-left: 10px;
    padding-right: 10px;
  }
}