.promo__background-image {
  position: absolute;
  top: -40px;
  left: -30px;
  filter: drop-shadow(-15px 20px 15px #032);
  width: 550px;
  height: 410px;
}

@media (max-width: 1280px) {
  .promo__background-image {
    width: 450px;
    height: 335px;
    top: -30px;
    left: -20px;
  }
}

@media (max-width: 1024px) {
  .promo__background-image {
    width: 350px;
    height: 260px;
    top: -10;
    left: 0;
  }
}

@media (max-width: 768px) {
  .promo__background-image {
    width: 250px;
    height: 185px;
    top: 0;
  }
}

@media (max-width: 320px) {
  .promo__background-image {
    width: 150px;
    height: 110px;
    top: 35;
    left: -10px;
    filter: drop-shadow(-5px 5px 5px #032);
  }
}