.about__plants-top {
  position: absolute;
  bottom: 140px;
  right: -85px;
  filter: drop-shadow(-15px 20px 15px #032);
  width: 550px;
  height: 410px;
}

@media (max-width: 1280px) {
  .about__plants-top {
    width: 450px;
    height: 335px;
    bottom: 55px;
    right: -60px;
    }
}

@media (max-width: 1024px) {
  .about__plants-top {
    width: 350px;
    height: 260px;
    bottom: 80px;
    right: -50px;
    }
}

@media (max-width: 768px) {
  .about__plants-top {
    width: 250px;
    height: 185px;
    bottom: 80px;
    right: -20px;
    }
}

@media (max-width: 320px) {
  .about__plants-top {
    width: 150px;
    height: 110px;
    bottom: 55px;
    right: -40px;
    filter: drop-shadow(5px 5px 5px #032);
    }
}