.header__button-search {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 20px 0 0;
  transition: all 0.3s ease 0s;
}

.header__button-search:hover {
  opacity: .6;
  transform: translateY(-7px);
}

@media (max-width: 1024px) {
  .header__button-search {
    margin-right: 10px;
  }
}