.order__image {
  filter: drop-shadow(20px 10px 30px #032);
  width: 290px;
  height: 450px;
}

@media (max-width: 1280px) {
  .order__image {
    width: 240px;
    height: 370px;
  }
}

@media (max-width: 1024px) {
  .order__image {
    width: 140px;
    height: 220px;
  }
}

@media (max-width: 768px) {
  .order__image {
    width: 80px;
    height: 125px;
  }
}

@media (max-width: 320px) {
  .order__image {
    width: 50px;
    height: 90px;
    filter: drop-shadow(5px 5px 10px #032);
  }
}