.about {
  position: relative;
  padding: 150px 100px 150px 100px;
  background: #F3FBF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .about {
    padding: 130px 80px;
  }
}

@media (max-width: 1024px) {
  .about {
    padding: 100px 60px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 80px 20px;
  }
}

@media (max-width: 320px) {
  .about {
    padding: 50px 10px;
  }
}