.order__input-name {
  width: 240px;
  height: 40px;
  border-radius: 8px;
  font-family: 'Comfortaa', 'Arial', 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #555555;
  margin: 0 0 15px 0;
}

@media (max-width: 1280px) {
  .order__input-name {
    width: 220px;
    height: 35px;
    font-size: 22px;
    line-height: 18px;
    border-radius: 7px;
  }
}

@media (max-width: 1024px) {
  .order__input-name {
    width: 180px;
    height: 30px;
    font-size: 18px;
    line-height: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .order__input-name {
    width: 140px;
    height: 25px;
    font-size: 16px;
    line-height: 14px;
    border-width: 1px;
    border-radius: 5px;
  }
}

@media (max-width: 320px) {
  .order__input-name {
    width: 80px;
    height: 15px;
    font-size: 14px;
    line-height: 12px;
    border-radius: 4px;
    margin-bottom: 5px;
  }
}