.order__title {
  font-family: 'Roboto Slab', 'Arial', 'Tahoma';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  margin: 0 0 20px 0;
}

@media (max-width: 1280px) {
  .order__title {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 1024px) {
  .order__title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .order__title {
    font-size: 40px;
    line-height: 30px;
  }
}

@media (max-width: 320px) {
  .order__title {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}